__pycache__

/datasets/test1-w504r_-2kpgu/
/datasets/unochapeco_paper-s9top/
/datasets/greg-sun_a4-detection/
/datasets/tmayolov8_four-corners-detection/
/datasets/merged/
/weights/
/runs/train/
/datasets/merged_segmentation/
/.env
